header * {
    margin: auto;
}

header {
    margin-bottom: 1em;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10%;
    color:rgb(207, 76, 64);
}

#div_nombre_juego {
    border-style: solid;
    border-color: rgb(207, 76, 64);
    border-width: 7px;
    width: 10%;
    text-align: center;
    background:rgb(42, 40, 182);
}
#grafico_img{
    border-radius: 50%;
}
#div_accion {
    display: flex;
    border-style: solid;
    border-color: rgb(207, 76, 64);
    border-width: 7px;
    margin: auto;
    width: 10%;
    text-align: center;
    background:rgb(42, 40, 182);
}
#div_accion p,img{
    margin: auto;
    width: 50%;
}

#div_usuario {
    border-style: solid;
    border-color: rgb(207, 76, 64);
    border-width: 7px;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 1em;
    background:rgb(40, 37, 168);
}

#flecha {
    width: 20%;
    height: 10%;
}
.img_ocultar{
    visibility: hidden;
}
#comprar,#vender{
    color: rgb(207, 76, 64);
    border-color: rgb(207, 76, 64);
    background:rgb(42, 40, 182);
    border-radius: 45%;
    margin-bottom: 2%;
    font-size: 150%;
    width: 30%;
}