body{
    width: 40%;
    margin:auto;
}
#titulo{
    text-align: center;
    background: orange;
}
#p_azul{
    background: lightblue;
}
#p_verde{
    background: lightgreen;
}
#abrir{
    margin-left: 40%;
}
#mensa_error{
    color:red;
}