body {
    font-family: 'Salsa', cursive;
}

body a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #FF6969;
}

#div_header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#div_header h1, img {
    padding-top: 0.2%;
    padding-right: 0.2%;
}

#img_carro {
    width: 50px;
    height: 50%;
    padding-top: 1.5%;
    padding-left: 1%;
}

#navegador {
    padding: 1.5% 1% 0% 1%;
    border-style: solid;
    border-radius: 10%;
    height: 70px;
    margin-left: 1%;
}

#navegador a {
    font-size: 160%;
}

#navegador div {
    border-radius: 10%;
}

#navegador div:hover {
    background: #DADADA;
}

#a_factura {
    width: 50px;
    height: 100%;
    padding-top: 1.5%;
    padding-right: 1%;
}

#div_navegador_ayuda {
    display: flex;
    margin-top: 1%;
}

#titulo_bocadilleria {
    font-size: 300%;
}

main {
    background: #DADADA;
    height: 100%;
    width: 100%;
    position: fixed;
}

/* Bocadillos */

#div_bocadillos_bebidas {
    display: flex;
    margin: auto;
    width: 70%;
}

.img_bocadillo_bebida {
    width: 90%;
}

.bocadillo_bebida_info {
    text-align: center;
    width: 50%;
    padding-left: 6%;
}

.div_ingredientes {
    padding: 0.8%;
    text-align: start;
    font-size: 180%;
    margin: auto;
    width: 50%;
    background: white;
}

.div_ingredientes div {
    margin-top: 2%;
}

.fria:hover {
    background: #FF6969;
}

.del_tiempo:hover {
    background: #FF6969;
}

#div_factura {
    margin: auto;
    background: white;
    width: 30%;
}

#div_fecha {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}