header *{
    margin: auto;
}
header{
    margin-bottom: 1em;
}
#div_nombre_juego{
    border-style: solid;
    width: 10%;
    text-align: center;
}

#div_accion{
    border-style: solid;
    margin:auto;
    width: 10%;
    text-align: center;
}
#div_usuario{
    border-style: solid;
    margin:auto;
    width: 30%;
    text-align: center;
    margin-top: 1em;
}

