header * {
    margin: auto;
}

header {
    margin-bottom: 1em;
}
body{
    padding-top: 10%
}

#div_nombre_juego {
    border-style: solid;
    width: 10%;
    text-align: center;
}

#div_accion {
    display: flex;
    border-style: solid;
    margin: auto;
    width: 10%;
    text-align: center;
}
#div_accion p,img{
    margin: auto;
    width: 50%;
}

#div_usuario {
    border-style: solid;
    margin: auto;
    width: 30%;
    text-align: center;
    margin-top: 1em;
}

#flecha {
    width: 20%;
    height: 10%;
}
.img_ocultar{
    visibility: hidden;
}