@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
/* Navegador */
.navbar{
    /* background-color: rgb(107, 171, 255); */
    background-color: rgb(223, 152, 95);
    box-shadow:  0px 0px 20px gray;
}
.container-fluid{/*Bootstrap*/
    width: 1200px;
}
#titulo{
    background-color: rgb(223, 152, 95);
    margin:auto;
}
/* Contenido central */
#ms-main{
    
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 900px;
    background-color: lightgrey;
}
#ms-content{
    box-shadow: 0px 0px 20px grey;
    padding-top: 30px;
    max-width: 1250px;
    margin:0 auto;
    background-color: white;
    min-height: 900px;
}

/* flexbox peliculas */
#ms-film-flexbox{
    /* padding:5px 10px 30px 10px; */
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.card{/*bootstrap*/
    margin:0 10px 10px 10px;
}
/* Footer */
footer{
  background-color: #1b1e1f;
  border:1px solid #333;
  color: #d1d4d6;
  text-align: center;
  margin:0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow:  0px 0px 40px gray;
}
#ms-div-footer{
    /* margin:50% 0 50% 0; */
    
    
}
