body{
    font-family: fantasy;
}

a{
    text-decoration: none;
    color: white;
}

#div1_2{
    
    padding-top: 10%;
    padding-bottom: 10%;
    background: linear-gradient(0deg, rgba(0, 56, 255, 0.66), rgba(0, 56, 255, 0.66)),url(imagenes/winter-5892335_1920.jpg);
    
}
#menu{
    margin-top: -9%;
    margin-left: 75%;
}
#menu a{
    margin: 2%;
    color: white;
}
#div_perfil{
    width: 10%;
    background-color: white;
    margin:auto;
    margin-top:-2.6%;
    border-radius: 50%;
}
#foto_perfil{
    width: 96%;
    height: 96%;
    margin:2% 2% 2% 2%;
    border-radius: 50%;
}
#div_nombre{
    padding:2% 5% 2% 5%;
    width: 18%;
    border-style: solid;
    border-color:white;
    border-width: 1%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

#titulo_lorem{
    width: 50%;
    height: 20%;
    margin:auto;
    margin-bottom: 2%;
    color:rgba(0, 56, 255, 0.66); 
    text-align: center;
}
 
#divContenedor{
    background-color: rgba(202, 202, 202, 0.8);
    width: 100%;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    align-content: center;
}
h2{
    color:rgba(0, 56, 255, 0.66);
}

#titulo_nombre{
    color: white;
}

#subtitulo_nombre{
    color:white;
    font-size: medium;
}

#div_trabajos{
    display: flex;
    justify-content: space-around;
    width: 60%;
    max-width: 1000px;
    margin:auto;  
    flex-wrap: wrap;  
}
.trabajos{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 20%;
    text-align: center;
    margin-bottom: 2em;
    font-size: medium;
}

#divContenedor img{
    width: 100%;
    height: 70%;
}

#divPie{
    margin: auto;
    text-align: center;
}

#div_formulario{
    width: auto;
    padding-bottom: 5%; 
    margin: auto;
}
.inputs{
    border-style: solid;
    border-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 11.3%;
    color:rgba(0, 56, 255, 0.66);
}

#mensaje{
    border-style: solid;
    border-color: black;
    width: 35%;
    text-align: start;
    text-anchor: start;
    font-family: fantasy;
    margin-bottom: 2%;
    color:rgba(0, 56, 255, 0.66);
}
#divPie button{
    background-color: rgba(0, 56, 255, 0.66);
    color:white;
    border-style: solid;
    border-color: white;
    width: 35.5%;
    padding: 1% 0 1% 0;
}
footer{
    width: 100%;
    padding-bottom: 2%;
    background-color:rgb(46, 80, 228);
}

#div_footer{
    padding-top:2%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin:auto; 
}
#priv_coo a{
    color: white;
}

#iconos{
    color: white;
    width: 25%;
    font-size: 320%;
}


.icono_redes{
    padding-top:10%;
    margin-right: 2%;
}



@media only screen and (max-width: 448px) {
    #menu{
        margin-left: 0%;
    }
}
@media only screen and (max-width: 763px) {
    #menu{
        margin-left: 0%;
    }
    #div_nombre{
        width: 40%;
    }
}
@media only screen and (max-width: 1300px) {
        
    .trabajos{
        width: 90%;
        font-size: larger;
        margin-bottom: 6em;
    }
    #div_perfil{
        width: 20%;
    }
}

@media only screen and (max-width: 1700px) {
    .trabajos {
        width: 30%;
    }
}

@media only screen and (max-width: 1650px) {
    .trabajos {
        width: 36%;
        font-size: 170%;
    }
}

@media only screen and (max-width: 1600px) {
    .trabajos {
        width: 40%;
    }
    #div_trabajos{
        width: 75%;
    }
}

@media only screen and (max-width: 1400px) {
    .trabajos {
        width: 45%;
        font-size: 190%;
    }
    #div_trabajos{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .trabajos {
        width: 60%;
    }
    
}
@media only screen and (max-width: 500px) {
    .trabajos {
        width: 100%;
    }
    #div_trabajos{
        width: 95%;
    }
    
}

@media only screen and (max-width: 300px) {
    
    #div_trabajos{
        font-size: 80%;
    }
    #div_nombre{
        width: 60%;
    }
    
}













