body{
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    font-family: fantasy;
    width: 100%;
}

#div1{
    height: 600px;
    width: 100%;
    left: 0px;
}

#div1_2{
    position: absolute;
    width: 100%;
    height: inherit;
    background: linear-gradient(0deg, rgba(0, 56, 255, 0.66), rgba(0, 56, 255, 0.66)),url(imagenes/winter-5892335_1920.jpg);
}
#div_perfil{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 31em;
    left: 43.7%;  
    background-color: white;
    border-radius: 50%;
}
#foto_perfil{
    position: absolute;
    height: 95%;
    width: 95%;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    
}
#div_nombre{
    position: absolute;
    left: 36%;
    top: 27%;
    height: 30%;
    width: 500px;
    border-style: solid;
    border-color:white;
    border-width: 1%;
}

#titulo_lorem{
    position: absolute;
    top:75%;
    width: 50%;
    height: 20%;
    left: 29%;
    color:rgba(0, 56, 255, 0.66);  
}
#titulo_lorem h2{
    position: absolute;
    left: 27%;
} 

#titulo_lorem pre{
    width: fit-content;
    position: absolute;
    top: 50px;
    left: 30px;
    font-family: fantasy;
} 
#divContenedor{
    position: absolute;
    background-color: rgba(202, 202, 202, 0.8);
    width: 100%;
    height: 90%;
    top: 900px;
    margin-bottom:0%;
}
h2{
    position: inherit;
    left: 45.7%;
    font-size: 29px;
    color:rgba(0, 56, 255, 0.66);
}

#titulo_nombre{
    position: absolute;
    color: white;
    left: 28%;
    top:20%;
}
#subtitulo_nombre{
    position: absolute;
    left: 15%;
    top:47%;
    color:white;
    font-size: 24px;
}
#divGris{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 40px;
    column-gap: 10px;
    position: inherit;
    left: 26.9%;
    top:90px;
    
}
#divGris div{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-bottom: 70px;
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 260px;
}
#divGris img{
    height: inherit; 
    width: inherit;  
}
#divGris p{
   position: inherit; 
   font-size: 20px;
   margin:0;
}

#divPie{
    position: absolute;
    width: 100%;
    height: 50%;
    top:1775px;

}
.inputs{
    position: absolute;
    border-style: solid;
    border-width: 1 px;
    border-color: black;
    padding: 0.2%;
    top: 80px;
    width: 290px;
    height: 44px;
    font-size: 15px;
    color:rgba(0, 56, 255, 0.66);
    
}
#nombre{
    left: 475px;
}
#telefono{
    left: 790px;
}
#correo{
    left: 1105px;
}
#mensaje{
    position: absolute;
    border-style: solid;
    border-width: 1 px;
    border-color: black;
    padding: 0.2%;
    top: 150px;
    left: 475px;
    width: 920px;
    height: 174px;
    text-align: start;
    text-anchor: start;
    font-family: fantasy;
    font-size: 15px;
    color:rgba(0, 56, 255, 0.66);
}
#divPie button{
    position: absolute;
    background-color: rgba(0, 56, 255, 0.66);
    color:white;
    border-style: solid;
    border-color: white;
    height: 44px;
    width: 937px;
    top: 350px;
    left: 473px;
}
footer{
    position: absolute;
    top:2190px;
    height: 220px;
    width: 100%;
    background-color:rgb(46, 80, 228);
}

#privacidad{
    color: white;
    font-size: 19px;
    top:90px;
    left: 500px;
    text-decoration: none;
}
#cookies{
    color: white;
    font-size: 19px;
    top:65px;
    left: 500px;
}

.icono{
    position: absolute;
    color: white;
    top:90px;
    left: 900px;
    font-size: 50px;
}
.icono2{
    position: absolute;
    color: white;
    top:90px;
    left: 980px;
    font-size: 50px;
}
.icono3{
    position: absolute;
    color: white;
    top: 90px;
    left: 1060px;
    font-size: 50px;
}
.icono4{
    position: absolute;
    color: white;
    top: 90px;
    left: 1140px;
    font-size: 50px;
}
.icono5{
    position: absolute;
    color: white;
    top: 90px;
    left: 1220px;
    font-size: 50px;
}


